* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.header {
    border: 1px solid red;
    text-align: center;
    padding: 50px;
    width: 90%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: #f0f0f0;
    font-family: Arial, sans-serif;
}

.calculadora {
    background: white;
    padding: 15px;
    border-radius: 10px;
    width: 250px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.display {
    width: 100%;
    height: 50px;
    font-size: 20px;
    text-align: right;
    margin-bottom: 10px;
    padding: 5px;
}

.teclas {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

button {
    padding: 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background: transparent;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

button:hover{
    background: rgb(210, 202, 202)

}

.equals {
    background: #217124;
    color: white;
    transition: background-color 0.5s ease;
}

.equals:hover {
    background: #32b937;
    transition: background-color 0.5s ease;
}

.span-2 {
    grid-column: span 2;
}

input {
    text-align: right;
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 90%;
    border-radius: 5px;
    border: 1px solid black;
}