@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    
}

body{
    height: 99.5vh;
    background-image: url(fundo_tela.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    border: rgb(245, 139, 0) 2.5px solid;
    height: 620px;
    width: 1100px;
    display: flex;
    justify-content: center; 
    border-radius: 10px;
    backdrop-filter: blur(5px);      /* Aplica o desfoque atrás da janela */
    -webkit-backdrop-filter: blur(10px);
    color: white;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
}


.header {
    position: absolute;
    width: inherit; /*Pega a width do elemento pai (.container) */
    text-align: center;
    color: white;
}

.formulario{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(245, 139, 0);
}

.formulario form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border: 1px solid rgb(255, 81, 0);
}

.campo label{
    margin-right: 5px;
    font-weight: 500;
}